manifest {
    author = 'Keiler Collier'
    description = 'This is a NextFlow script designed to automatically run the ONTeater assembly pipeline.'
    mainScript = 'ONTeater.nf'
    name = 'ONTeater'
    nextflowVersion = '>=23.10.1' //this is the version of NextFlow I initially developed the pipeline on. It might work for others.
    version = '1.0.0'
}

params {
//input params
    input_rawreads = "$projectDir/*ONT*.fq.gz"
    input_shortreads = "$projectDir/*{1,2}.fq.gz" //illumina reads have variable formats, but always contain a 1 or 2 element
    results_dir = "results" 

    nextdenovo_conf = "$projectDir/nd_run.cfg"
    genome_size = null

}

process.container = 'staphb/quast'

// we need to learn how to use quast with docker
//docker.runOptions = '-u $(id -u):$(id -g)'
//docker.enabled = true
//conda.enabled = true
