manifest {
    author = 'Keiler Collier'
    description = 'This is a NextFlow script designed to automatically run the ONTeater assembly pipeline.'
    mainScript = 'ONTeater.nf'
    name = 'ONTeater'
    nextflowVersion = '>=23.10.1' //this is the version of NextFlow I initially developed the pipeline on. It might work for others.
    version = '1.0.0'
}

params {
// Params for upper-resource limits:
    max_cpus = Runtime.runtime.availableProcessors()
    totalMemoryGB = Runtime.runtime.maxMemory() / 1024 / 1024 / 1024 
    memoryToUseGB = (totalMemoryGB * 0.8).round(2)
//input params
    input_ONTreads = "$projectDir/*ONT*.fq.gz"
    input_PBreads = "$projectDir/*ONT*.fq.gz"
    input_shortreads = "$projectDir/*{1,2}.fq.gz" //illumina reads have variable formats, but always contain a 1 or 2 element
    results_dir = "results" 

    nextdenovo_conf = "$projectDir/nd_run.cfg"
    genome_size = null
    workdir = './'
}

process {
    resourceLimits = [ cpus: params.max_cpus, memory: params.memoryToUseGB, time: 72.h ]
}


// we need to learn how to use quast with docker
//docker.runOptions = '-u $(id -u):$(id -g)'
//docker.enabled = true
conda.enabled = true

plugins {
    id 'nf-prov@1.1.0'
}